/*css for sportgear*/

html *
{
	margin: 0;
	padding: 0;
	border:none;
	text-decoration: none;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

a:link,
a:visited,
a:hover,
a:active
{
	text-decoration: none;
}

body
{
	font-family: Arial, sans-serif;
	font-weight: normal;
	background-color: #f4f4f4;
}

.clearFix:after
{
	display: block;
	clear: both;
	content: " ";
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.centre
{
	margin: 0 auto;
}

/**********************************************/
/*header*/
header
{
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 120px;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
	background: #242424;
	/*background-color: rgba(36,36,36,0.75);*/
}

header:hover
{
	background-color: rgba(36,36,36,1);
}

	header a
	{
		color: #fff;
	}

	header a:hover,
	header a:active
	{
		color: #242424;
		background-color: #fff;
	}

	header #top-menu-right li
	{
		display: block;
		float: right;
	}

		header #top-menu-right li a
		{
			display: block;
			padding: 0 10px;
			text-align: center;
		}

	header h1
	{
		letter-spacing: 2px;
		font-family: "Arial Black";
	}

		header h1 span.rotate
		{
			color: yellow;
			-webkit-transform:rotateY(180deg);
			-moz-transform:rotateY(180deg);
			-ms-transform:rotateY(180deg);
			-o-transform:rotateY(180deg);
			transform:rotateY(180deg);
		}

		header h1 a
		{
			font-size: 36px;
			
		}

		header h1 a:hover,
		header h1 a:active
		{
			color: #fff;
			background-color: #242424
		}

	header .header-row2
	{
		padding-left: 0;
	}

	header nav #top-menu-left li
	{
		position: relative;
		display: block;
	}

		header nav ul li a
		{
			display: block;
			background: #242424;
			background-color: rgba(36,36,36,0.75);
			padding: 0 10px;
			white-space: nowrap;
			color: #fff;
			text-align: center;
			width: 110px;
		}

		header nav .hover-menu
		{
			display: none;
		}

			header nav ul li:hover ul
			{
				display: block;
				position: absolute;
			}

				header nav ul li:hover ul li
				{
					float: none;
					white-space: nowrap;
				}

		#site-search
		{
			position: relative; /*need this for the X button*/
			color: #000;
			padding: 0;
			border-radius: 10px;
		}

			#site-search input
			{
				padding: 0 5px;
			}

				#site-search input:focus
				{
					outline: none;
				}
/*problems need to be fixed*/
			#site-search button.close-icon
			{
				border:0px solid transparent;
				background-color: transparent;
				display: inline-block;
				vertical-align: middle;
		  		outline: 0;
		 		cursor: pointer;
			}

			#site-search button.close-icon:after
			{
				content: "X";
				display: block;
				width: 20px;
				height: 20px;
				line-height: 20px;
				font-size: 20px;
				position: absolute;
				background-color: #FA9595;
				z-index:1;
				right: 40px;
				top: 0;
				bottom: 0;
				margin: auto;
				padding: 1px;
				border-radius: 50%;
				text-align: center;
				color: white;
				font-weight: normal;
				font-size: 12px;
				box-shadow: 0 0 2px #E50F0F;
				cursor: pointer;
			}

			#site-search:not(:focus) ~ .close-icon 
			{
				display: none;
			}
			/*search button*/
			#site-search #searchButton
			{
				width: 40px;
				height: 40px;
				border-radius:50%;
				background: #fff;
			}

				#site-search #searchButton:hover,
				#site-search #searchButton:active
				{
					background: #f6f6f6;
				}

		#clock
		{
			width: 25%;
			text-align: right;
		}
/**********************************************************************/
/*wrapper*/
#wrapper
{
	margin-top: 140px;
	border-radius: 20px;
	min-height: 480px;
}

/*********************************************************************/
/*footer*/
#footer-container
{
	position: relative;
	color: #fff;
	background: #242424;
	background-color: rgba(36,36,36,0.75);
}

#footer-container:hover
{
	background: #242424;
}

footer
{
	padding: 20px;
}
footer article
{
	width: 25%;
}

	footer article a
	{
		color: #fff;
	}

footer #social-media
{
	position: fixed;
	top: 150;
	left: 20;
}

@media screen and (max-width: 640px) {
   #social-media
	{
		position: fixed;
		z-index: 20000;
		top: 0;
		left: 0;
	}

		#social-media li
		{
			float: left;
		}
}

footer #copyright
{
	clear: both;
	padding-top: 30px;
	text-align: center;
}

/*********************************************/
header ul,
header #header,
header div.header-row2,
#wrapper,
footer
{
	max-width: 960px;
	margin-left:auto;
	margin-right: auto;
}