/***********************************************************/
/*homepage starts here*/
#myCarousel img
{
	max-height: 360px;
	width: 100%;
	text-align: center;
}

#video
{
	height: 540px;
	margin: 5px 0;
}

	#video iframe,
	#video article
	{
		width: 50%;
		height: 50%;
		float: left;
	}

	#video article
	{
		padding: 20px;
		overflow: hidden;
	}

		#video article h2
		{
			margin-bottom: 15px;
		}

#category
{
	height: 240px;
	margin: 10px 0;
}

	#category a
	{
		color: #242424;
	}

	#category h2
	{
		height: 240px;
		text-align: center;
		background: rgba(255,255,255,0.1);
		border-radius: 10px;
	}

		#category h2:hover ,
		#category h2:active 
		{
			color: #fff;
			background: rgba(0,0,0,0.3);
		}

	#category .category
	{
		width: 184px;
		height: 100%;
		margin: 0 4px;
		border: 2px solid #fff;
		border-radius: 10px;
		float: left;
	}

	#category .category_racquet
	{
		background: url(../images/cate/racquet.jpg) no-repeat;
	}

	#category .category_ball
	{
		background: url(../images/cate/ball.jpg) no-repeat center center;
	}

	#category .category_footwear
	{
		background: url(../images/cate/footwear.jpg) no-repeat center center;
	}

	#category .category_clothing
	{
		background:url(../images/cate/clothing.jpg) no-repeat center center;
	}

	#category .category_accessory
	{
		background: url(../images/cate/accessory.jpg) no-repeat center center;
	}

#product-display
{
	width: 100%;
	height: 240px;
	overflow: hidden;
	position: relative;
}

	#product-display h4
	{
		position: absolute;
		bottom: 15px;
		width: 100%;
		color: #f00;
		font-weight: bold;
		background: rgba(255,255,255,0.5);
	}

	#product-display img
	{
		width: auto;
		height: 240px;
		margin: auto;
	}
/*homepage ends here*/
/**************************************************************************/
/**contact page starts here*/
.mainform
{
	margin: 20px 0;
	padding: 20px;
	border:1px solid #242424;
}

	.mainform fieldset
	{
		padding: 20px;
		border:1px dashed #242424;
	}

	.mainform legend
	{
		width: 300px;
		font-size: 1.3em;
		font-weight: bold;
		border: 1px dashed #242424;
		border-radius: 10px;
		padding: 5px 10px;
		background: #fff;
	}

	.mainform p
	{
		margin: 5px 0;
	}

	.mainform label
	{
		width: 150px;
		display: inline-block;
		float: left;
	}

	.mainform input
	{
		width: 200px;
		border: 1px solid #242424;
		border-radius: 5px;
	}

	.mainform textarea
	{
		width: 50%;
		height: 100px;
		border: 1px solid #242424;
		border-radius: 5px;
	}

	.mainform .buttons
	{
		padding-left: 150px;
	}

	.mainform button
	{
		padding: 5px 10px;
		font-weight: bold;
	}

	.mainform button:hover
	{
		color: #fff;
		background: #242424;
	}

.error
{
	display: none;
	margin-left: 5px;
}

.error_show
{
	color:#f00;
	margin-left: 5px;
}

input.invalid, textarea.invalid
{
	border:2px solid #f00;
}

input.valid, textarea.valid
{
	background-color: lightgreen;
}

/*map*/
#map-canvas
{
	width: 100%;
	height: 540px;
}

.controls 
{
	margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#map-input 
{
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 25%;
}

#map-input:focus 
{
	border-color: #4d90fe;
}

#type-selector 
{
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label 
{
	font-size: 13px;
	font-weight: 300;
}

#target
{
	width: 345px;
}

/*************************************************/
/*add new product*/
#brands-select
{
	width: 150px;
	float: left;
	clear: right;
	border: 1px solid #242424;
}

#category1-select
{
	width: 150px;
	float: left;
	clear: right;
	border: 1px solid #242424;
}

label.mainform-label
{
	padding-left: 0;
	font-weight: bold;
}

#newproduct_name
{
	width: 436px;
}

/***************************************************************/
/*products management*/
/*this part may contain problems,,need to be checked*/
form.manage-products
{
	width: 100%;
	border:1px solid #242424;
}
	
	.change-name
	{
		width: 120px;
		height: 180px;
	}

	.change-price
	{
		width: 80px;
	}

	.change-description
	{
		width: 238px;
		height: 180px;
	}

	.change-image
	{
		width: 120px;
	}

	.change-brand,
	.change-gearType,
	.sport-radio,
	.status-radio
	{
		width: 90px;
		height: 180px;
	}

table,
tr,
th
{
	border: 1px solid #242424;
}

.manage-products-form-title th
{
	height: 20px;
	text-align: center;
}

	form.manage-products button
	{
		padding: 2px 10px;
		margin: 0 10px;
	}

	form.manage-products button:hover,
	form.manage-products button:active
	{
		color: #fff;
		background: #242424;
	}


/******************************************************/
/*tennis products display***********/
#filter
{
	width: 200px;
	min-height: 640px;
	margin-right: 10px;
	background-color: #999;
	background: url(../images/babolat-play-aeropro-drive-33.jpg) no-repeat center center;
}

#products-container
{
	width: 750px;
	height: auto;
}

	#products-container article
	{
		width: 240px;
		min-height: 320px;
		margin: 0 5px;
	}

#products-container article img
{
	width: auto;
	height: 240px;
}

/*****************************************************/
/*single product page*/
#product-page-category-menu
{
	margin-bottom: 20px;
}

	#product-page-category-menu a
	{
		color:#242424;
	}

	#product-page-category-menu a:hover,
	#product-page-category-menu a:active
	{
		text-decoration: underline;
	}

#product-detail
{
	margin-bottom: 20px;
}

	#product-detail .product-image,
	#product-detail .product-detail
	{
		width: 480px;
	}

	#product-detail .product-image img
	{
		width: auto;
		height: 320px;
	}

	form.addProduct p
	{
		margin-bottom: 20px;
	}

	form.addProduct input
	{
		border: 1px solid #242424;
		border-radius: 5px;
	}

	form.addProduct button
	{
		padding: 0 5px;
		color: #242424;
		background-color: 999;
	}

	form.addProduct button:hover
	{
		color: #fff;
		background-color: #242424;
	}
/************************************************************************/
/*manage categories*/
.manage-categories
{
	border: 1px solid #242424;
}

.category-name
{
	width: 438px;
}

.category-status
{
	width: 160px;
}

.manage-categories button
{
	width: 160px;
	margin: auto;
	padding: 2px 10px;
}

.manage-categories button:hover,
.manage-categories button:active
{
	background: #242424;
	color: #fff;
}


/******************************************************************************/
table#shoppingcart
{
	width: 100%;
}

	table#shoppingcart td
	{
		border: 1px solid #242424;
	}

	table#shoppingcart button
	{
		width: 80px;
		margin: auto;
		padding: 2px 10px;
	}

	#shoppingcart button:hover,
	#shoppingcart button:active
	{
		background: #242424;
		color: #fff;
	}

#cartTotal,
#checkoutLink
{
	margin: 10px;
	font-size: 18px;
}

#cartTotal
{
	font-weight: bold;
}

#checkoutLink
{
	cursor: pointer;
}